.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10px;
    scroll-margin-top: 70px;
}

.title{
    color: var(--colorPrimary);
    font-size: 32px;
}

.text{
    color: var(--colorPrimary);
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

@media (max-width:724px) {
    .about{
        scroll-margin-top: 120px;
    }
}